<section class="user-section">
  <h2><%= "Name: #{@user.name}" %>
    <% if @friend %>
      <button type="button" class="btn btn-primary">
          <%= link_to 'Add Friend', friendships_path(friend_id: @user.id), method: :post, class: 'profile-link'%>
      </button>
    <% end %>
  </h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
