<section class="user-section">
  <h2>
    <%= "Name: #{@user.name}" %>
    <%= raw button(@user, @friend) %>
  </h2>
    <article class="timeline">
      <%= raw post_title(@user, @friend) %>
      <ul class="posts">
        <%= post(@user, @friend) %>
      </ul>
    </article>
</section>
